body {
    text-align: center;
}

#board {
    height: 540px;
    width: 630px;
    background-color: blue;
    border : 5px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 90%;
    margin: 5px;
    border: 5px solid navy
}

.red-player {
    background-color: red;
}

.yellow-player {
    background-color: yellow;
}

#P1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#P2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 5px;
}

#Start {
    margin: 5px;
}

#Restart {
    visibility: hidden;
    margin: 5px;
}